/**
 * Uses SASS compiled to global stylesheet, yote.css
 * Any styles specific to the Flow module that you ALSO want globally
 * available should live here.
 */

@import "./admin/flowAdminStyles";

$btn-color: #4f21ec;
$btn-color-hover: #5f37e8;
$btn-border-radius: 0.25rem;

.title-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.title-button {
  display: flex;
  margin: 2em;
  padding: 1em;
  height: 2.5em;
  background-color: $btn-color !important;
  border-radius: $btn-border-radius !important;
  &:hover {
    background-color: $btn-color-hover !important;
  }
}

.flow-container {
  font-size: 36px;
  margin-left: 10px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.flow-list-items {
  //background-color: red;
  border: 1px solid rgba(214, 202, 202, 0.911);
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 20px 20px 20px 20px;
  width: 320px;
  min-height: 320px;
  overflow: hidden;
  height: auto;
  display: flex;
  flex-direction: column;

  //align-items: center; /*  vertically center    */
  justify-content: flex-start;
}

.flow-list-tasks {
  display: flex;
  justify-content: flex-start;
}

.yt-btn {
  background-color: $btn-color;
  border-radius: $btn-border-radius;
  &:hover {
    background-color: $btn-color-hover;
  }
}

.flow-text {
  color: black;
}

@media screen and (max-width: 576px) {
  .flow-container {
    display: flex;
    // height: 250px;
  }
}
